
= form_for([current_user, @job_detail], remote: true, id: 'cover-letter') do |f|
  = f.text_area :cover_letter, class: "tinymce", id: "cover-letter-#{@job_detail.id}"
  = f.submit "Save", id: "cover-letter-save"

  