home page
<br>
#user login/register<br>
#misc<br>
<br>
#after user login<br>
<br>

#user can search for jobs using term and location<br>
#user can save jobs<br>
#user can write cover letter associated with job<br>
