.row#main-row
  .col-xs-4
    = form_tag('/jobs/search', remote: true, method: 'get', format: :js) do
      = text_field_tag(:query, nil, placeholder: 'Search Term')
      = text_field_tag(:location, nil, placeholder: 'Location')
      = submit_tag('search')


    #results

  .col-xs-8#show-column
    #show
